*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Spotify Client ID: copy spotify.secrets.properties.example to this file and set your ID
spotify.secrets.properties
/spotify.secrets.properties.example
